
* {
    font-family: sans-serif;
    scroll-behavior: smooth;
    color: white;
}
header {
    width: 100%;
    height: 600px;
  
}



nav {
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    position: absolute;
    opacity: 0.7;
}

.logo {
    width: 15%;
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 150px;
}

.logo > a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;  
}


nav > .listaNav {
    width: 75%;
    height: 100px;
   
}

nav > .listaNav ul {
    display: flex;
    justify-content: space-between;
    list-style: none; 
    height: 100px;
    width: 100%;
    margin: 0px;
    padding:0px;
}

nav > .listaNav > ul > li {
    height: 100px;
    width: calc(100%/4);
    padding-top: 30px;
    color: white;
    font-size: 30px; 
}

.fa-solid{
    color: white;
    font-size: 40px;
    padding: 30px;
   display: none;
}

.main {
   display: block;
   opacity: 0.9;
}

section {
    margin: 0px 10px 0px 10px;
    z-index: 2;
    color: white;
}

body {
    background-color: black;
    opacity: 0.5;
}



a {
    text-decoration: none;
    color:white;  
}



.listaNav > ul > li > a:hover {
    cursor:pointer;
color: #005ccc;
transition: all 2s;
}

.listaNav > ul > li:hover {
    cursor:pointer;
color: #005ccc;
transition: all 2s;
}

.submenu {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 20px;
  position: relative;
  visibility: hidden;
  z-index: 2;
  top: 5px;
}

.submenu > li {
    width: 250px;
    height: 50px;
    border-bottom: 2px solid gray;
    border-radius: 5px;
}

.sub:hover > .submenu {
    visibility: visible;
    transition: all 0.5s;
}

footer {
    width: 100%;
    height: 100px;
    background-color: black;
    opacity: 0.8;
    border-top: 2px solid grey;
    display: flex;
    justify-content: space-between;
    color: white;
}



.partedos {
width: 400px;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
}

.iconos {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    padding-top: 40px;
}
.iconos:hover {
    cursor: pointer;
}

.noticias {
    width: 300px;
    height: 520px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}


.main2 {
    display: flex;
    justify-content:space-between;
    margin: 30px;
    flex-wrap: wrap;
}

.fotoN {
    width: 100%;
    height: 50%;
    border-bottom: 2px solid white;
}

.h5N {
    color: white;
    text-align: center;
}

.h5N > a:hover {
    color: #005ccc;
    transition: all 2s;
}

.pN {
    color: white;
    padding: 5px;
}

#check {
    visibility: hidden;
}

.main4 {
    color: white;
    width: 500px;
    height: 100%;
    display:flex;
    flex-direction: column;
}


@media only screen and (max-width: 900px) {
    nav > .listaNav > ul {
        width: 200px;
        height: 300px;
        display: flex;
        flex-direction: column;
    }
   .fa-solid {
    display: block;
   }
   nav {
    flex-direction: row-reverse;
   }
   .submenu {
    position: absolute;
    left: 250px;
    top: 110px;
   }
   .listaNav {
    padding-top: 5px;
    visibility: hidden;
   }
   #check:checked ~ .listaNav {
visibility: visible;
   }
}